$vxe-excel-column-checked-border-width: 2px;
$vxe-excel-column-checked-border-color: #409eff;

/*excel*/
.vxe-table {
  &.vxe-editable {
    &.vxe-excel {
      &.c--checked {
        cursor: default;
        .vxe-header--column {
          .vxe-resizable {
            cursor: default;
          }
        }
      }
      .vxe-header--column {
        padding: 4px 0;
        font-size: 12px;
        transition: none;
        cursor: default;
      }
      .vxe-body--column {
        padding: 0;
        transition: none;
        height: auto;
        line-height: 24px;
        vertical-align: top;
        cursor: cell;
        &.col--actived {
          .vxe-cell {
            padding: 0;
          }
        }
        .vxe-cell {
          padding: 0 2px;
          word-break: break-all;
          .vxe-textarea {
            height: inherit;
            min-height: inherit;
            position: relative;
            .vxe-textarea--inner {
              position: absolute;
              overflow: hidden;
              padding: 0 2px;
              z-index: 1;
            }
            .vxe-textarea--inner,
            .vxe-textarea--inner:focus {
              border-radius: 0;
              border: 0;
              outline: $vxe-excel-column-checked-border-width solid $vxe-excel-column-checked-border-color;
            }
          }
        }
      }
    }
  }
}

@keyframes shine {
  0% {
    background-position: -1px -1px;
  }
  100% {
    background-position: -12px -12px;
  }
}